:host {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

h1 {
  margin: 0;
}

nz-card {
  width: 100%;
}

::ng-deep {
  .ant-statistic-content {
    display: flex;
    justify-content: center;
  }
}
