<nz-flex nzVertical nzGap="middle">
  <nz-flex nzJustify="space-between" nzAlign="center" nzGap="middle" nzWrap="wrap">
    <div>
      <h1>Painel de Administração</h1>
      <span nz-typography nzType="secondary">Gerencie a página pública da sua barbearia.</span>
    </div>

    <nz-flex nzGap="small">
      <button nz-button>
        <i nz-icon nzType="share-alt"></i>
        Compartilhar
      </button>
      <button nz-button [routerLink]="['/view']">
        <i nz-icon nzType="eye"></i>
        Ver página pública
      </button>
    </nz-flex>
  </nz-flex>

  <nz-segmented nzBlock [nzOptions]="segmentedOptions" (nzValueChange)="handleValueChange($event)"></nz-segmented>

  @if(selectedOption === eDashboardSegmentedOptions.TimeAndStatus){
  <nz-card>
    <div>
      <h1>Fila de Espera e Status</h1>
      <span nz-typography nzType="secondary">Gerencie o tempo de espera da fila de clientes.</span>
    </div>

    <br />

    @if (hasWaitingTime()) {
    <nz-flex nzAlign="center" nzGap="small">
      <h2 class="countdown-title">
        <strong>Tempo Total da Fila:</strong>
      </h2>
      <strong>
        <nz-countdown [nzValue]="deadline()" [nzValueStyle]="{ color: '#52c41a' }"></nz-countdown>
      </strong>
    </nz-flex>

    } @else {
    <h3 [style.color]="'#52c41a'">Sem fila no momento</h3>
    }

    <br />

    <nz-flex nzAlign="center" nzGap="small">
      <button nz-button>-</button>

      <nz-slider></nz-slider>

      <button nz-button>+</button>
    </nz-flex>

    <br />

    <nz-row [nzGutter]="[24, 24]">
      <nz-col [nzLg]="12" [nzXs]="24">
        <nz-flex nzVertical nzAlign="center">
          <span nz-typography nzType="secondary">Diminuir</span>

          <nz-flex nzGap="small" class="w-full">
            <button nz-button nzBlock nzDanger (click)="adjustWaitingTime(-5)">-5 min</button>
            <button nz-button nzBlock nzDanger (click)="adjustWaitingTime(-10)">-10 min</button>
            <button nz-button nzBlock nzDanger (click)="adjustWaitingTime(-15)">-15 min</button>
          </nz-flex>
        </nz-flex>
      </nz-col>

      <nz-col [nzLg]="12" [nzXs]="24">
        <nz-flex nzVertical nzAlign="center">
          <span nz-typography nzType="secondary">Aumentar</span>

          <nz-flex nzGap="small" class="w-full">
            <button nz-button nzBlock (click)="adjustWaitingTime(5)">+5 min</button>
            <button nz-button nzBlock (click)="adjustWaitingTime(10)">+10 min</button>
            <button nz-button nzBlock (click)="adjustWaitingTime(15)">+15 min</button>
          </nz-flex>
        </nz-flex>
      </nz-col>
    </nz-row>

    <nz-divider></nz-divider>

    <nz-flex nzGap="small" nzVertical>
      <h3>Status da Loja</h3>

      <nz-flex nzGap="middle">
        <nz-switch [ngModel]="isOpen()" (ngModelChange)="toggleStoreStatus()"></nz-switch>
        <span nz-typography nzType="secondary">{{ isOpen() ? 'Aberta' : 'Fechada' }}</span>
      </nz-flex>
    </nz-flex>
  </nz-card>
  } @else {
  <nz-card>
    <nz-flex nzVertical nzGap="middle">
      <div>
        <h1>Configurações da Barbearia</h1>
        <span nz-typography nzType="secondary">Personalize todos os detalhes que aparecem na sua página pública. </span>
      </div>

      <mb-dynamic-form [config]="configForm" />
    </nz-flex>

    <button nz-button nzType="primary" nzBlock (click)="submit()">
      <i nz-icon nzType="save"></i>
      Salvar Alterações
    </button>
  </nz-card>
  }
</nz-flex>
